@import "tailwindcss";

@theme {
  --color-primary: #2196f3; /*  Default primary */
  --color-primary-50: #e7f4fe; /* light Blue */
  --color-primary-100: #c0e1fc; /* light Blue */
  --color-primary-700: #0a6ebd; /*  Blue */
  --color-primary-900: #06416f; /* Dark Blue */
  --color-secondary: #ff6b00; /* orange */
  --color-secondary-500: #f59e0b; /*amber */
  --color-neutral-900: #111827; /* Dark grey */
  --color-neutral-800: #1f2937; /* Dark grey */
  --color-neutral-700: #374151; /*  grey */
  --color-gray-100: #bdbdbd; /* light grey */
  --color-neutral-200: #e4e4e7; /* light grey */
  --color-error: #ef4444; /* light red */

  --animate-marquee: marquee 20s linear infinite;
  /* --animate-slideLeft: slideLeft 0.5s ease-out forwards */

  /* Animation keyframes */
  @keyframes marquee {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(-100%);
    }
  }

  /* @keyframes slideLeft {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
} */
}

/* Hide scrollbar */
.scrollbar-hide {
  -ms-overflow-style: none; /* Hide scrollbar in IE/Edge */
  scrollbar-width: none; /* Hide scrollbar in Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Hide scrollbar in Chrome, Safari */
}

input[type="checkbox"] {
  @apply appearance-none h-5 w-5 border-[2px] cursor-pointer border-gray-300 rounded-sm bg-white checked:bg-primary checked:border-transparent focus:outline-none;
}

/* custom input checkbox */
input[type="checkbox"]:checked::after {
  content: "";
  display: block;
  width: 0.35rem;
  /* Width of the checkmark */
  height: 0.7rem;
  /* Height of the checkmark */
  border: solid white;
  border-width: 0 0.125rem 0.125rem 0;
  transform: rotate(45deg);
  margin-left: 0.4rem;
  margin-top: 0.18rem;
}
